# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Temporary files:
*.swp
*~

# root level dot files
.*
!/.gitignore
!/.travis.yml

# default target directories
build/

{{cookiecutter.project_name}}/requirements.txt
