ipython
ipdb
pep8
Django
psycopg2
django-configurations
raven
django-discover-runner
WebTest
django-webtest
factory-boy
django-jenkins
django-debug-toolbar
django-model-utils
django-redis-cache
hiredis
