{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap3 %}
{% load url from future %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}

    {% bootstrap_form form layout='vertical' %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">Change password</button>
    {% endbuttons %}

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
</form>

{% endblock %}{% endraw %}
