ipython
ipdb
flake8
Django
psycopg2
django-configurations
raven
WebTest
django-webtest
factory-boy
django-jenkins
django-debug-toolbar
django-model-utils
django-redis-cache
hiredis
django-floppyforms
