#
# Project requirements
#

# Core
django
django-configurations
django-clear-cache
django-redis
hiredis
psycopg2-binary
sentry-sdk
whitenoise

# General
django-extensions
django-filter
django-model-utils
django-vanilla-views
