ipython
ipdb
flake8
Django
psycopg2
django-configurations
raven
WebTest
django-webtest
model-mommy
django-debug-toolbar
django-model-utils
django-redis-cache
hiredis
django-floppyforms
django-vanilla-views
django-extensions
