#
# Project requirements
#

# Core Django and deployment
django
django-configurations
django-clear-cache
django-redis
hiredis
psycopg2-binary
sentry-sdk
whitenoise

# General Django apps
django-extensions
django-filter
django-model-utils
django-vanilla-views
