{% raw %}{% extends "base.html" %}

{% block heading %}Listing{% endblock %}

{% block content %}
    <table class="table">
    {% for object in object_list %}
    <tr>
        <td>{{ object }}</td>
        <td><a href="{{ object.get_absolute_url }}">Details</a></td>
        <td><a href="{% url '{% endraw %}{{ cookiecutter.model_name|lower }}{% raw %}_update' object.pk %}">Update</a></td>
        <td><a href="{% url '{% endraw %}{{ cookiecutter.model_name|lower }}{% raw %}_delete' object.pk %}">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
        <td><p>No items.</p></td>
    </tr>
    {% endfor %}
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url '{% endraw %}{{ cookiecutter.model_name|lower }}{% raw %}_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url '{% endraw %}{{ cookiecutter.model_name|lower }}{% raw %}_list' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}
{% endraw %}
