{% raw %}{% extends "base.html" %}

{% load static pipeline %}

{% block heading %}Listing{% endblock %}

{% block content %}
    <div id="grid"></div>
{% endblock %}

{% block extra_script %}
    {% javascript '{% endraw %}{{cookiecutter.model_name|lower}}{% raw %}' %}
    <script>
        React.render(
            React.createElement(
                {% endraw %}{{cookiecutter.model_name}}{% raw %}Grid,
                {apiUrl: "{% url '{% endraw %}{{cookiecutter.app_name}}{% raw %}:api:v1:{% endraw %}{{cookiecutter.model_name|lower}}{% raw %}-list' %}"}
            ),
            document.getElementById('grid')
        );
    </script>
{% endblock %}

{% endraw %}
